
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

[data-reach-menu-button] {
  background-color: #fafafa;
  border: none;
  margin: 5px;
  font-size: '200%';
}
[data-reach-menu-button][aria-expanded="true"] {
  border-radius: 5px 5px 0 0;
}

[data-reach-menu-list] {
  border-radius: 0 0 5px 5px;
  border: 2px solid #ccc;
  background-color: white;
  transform: translateY(-2px);
}

.title{
  text-align: left;
}

.request_button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.comments{
  float:left;
}

pre.bash {
  background-color: black;
  color: white;
  font-size: medium ;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  width: 60%;
  display: inline-block;
  text-align: left;
}

div#termlog div {
  height: 60%;
}
div#termlog div pre {
 margin: 0px; 
}
div#termlog div pre::first-letter {
  color:'red';
}
